<div class="wrapper" [class.ban-wrapper]="(modal$ | async)">
  <img class="alGames" src="{{ alGames }}" alt="">
  <div class="games">
    <button routerLink="think-it-up" class="game-button active">Think-it-up</button>
    <button routerLink="guess-word" class="game-button active">Guest Word</button>
    <button routerLink="" class="game-button">Soon...</button>
    <button routerLink="" class="game-button">Soon...</button>
    <button routerLink="" class="game-button">Soon...</button>
    <button routerLink="" class="game-button">Soon...</button>
  </div>
</div>
