.wrapper {
  display: flex;
  justify-content: center;
  font-family: Arial, serif;
  min-width: 1150px;
}

.layout {
  padding-bottom: 55px;
}

.modal {
  position: absolute;
  visibility: visible;
  z-index: 5;
  margin-top: 200px;
}

.ban-body {
  background-image: none;
  background-color: #BBB8AA;
  opacity: 0.4;
  pointer-events: none;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #FFF4C5;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
}
