.root {
  font-family: Arial, serif;
  background: linear-gradient(132.47deg, rgba(130, 195, 255, 0.54) 32.58%, rgba(146, 216, 255, 0.8) 52.13%, #DEDFFF 84.48%), #E6DDFF;
  display: flex;
  justify-content: center;
  min-height: 1025px;
  height: 100vh;
  min-width: 800px;

  @media screen and (max-width: 600px) {
    min-height: 800px;
    height: 105vh;
    min-width: 400px;
  }
}

.highlight-wrapper {
  width: 100%;
  min-height: 800px;
  height: 100%;
  background-image: url('./../../../assets/new-year-clubs/images/highlight.png');
  background-size: 600px 1000px;
  position: absolute;
  background-repeat: repeat;

  @media screen and (max-width: 600px) {
    width: 400px;
    min-height: 600px;
  }
}

body {
  z-index: 2;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  height: 100%;
  margin-top: 75px;

  @media screen and (max-width: 600px) {
    margin-top: 0;
  }
}

.ban-body {
  opacity: 0.4;
  pointer-events: none;
}
