<div class="root">
  <img class="wreathAll" src="{{ wreathAll }}" alt="">
  <img class="highlight" src="{{ highlight }}" alt="">
  <div class="wrapper">
    <div class="top-content">
      <div class="left-block-top-content">
        <img class="snow snowflakeTwo" src="{{ snowflake }}" alt="">
        <img class="skysmart" src="{{ skysmart }}" alt="" (click)="goToLink()">
        <div class="title">Собираем призы</div>
        <div class="text">Посещай математические лаборатории, собирай ключи и обменивай их на подарки от лидеров!
        </div>
      </div>
      <img class="snow-man" src="{{ snowMan }}" alt="">
    </div>
    <div class="middle-content">
      <img class="snow snowflakeOne" src="{{ snowflake }}" alt="">
      <img class="tree" src="{{ tree }}" alt="">
      <img class="presents" src="{{ presents }}" alt="">
      <img class="snow snowflakeThree" src="{{ snowflake }}" alt="">
    </div>
    <div class="bottom-content">
      <img class="condition" src="{{ condition }}" alt="">
    </div>
  </div>
</div>
