header {
  display: flex;
  width: 100%;
  min-width: 1150px;
  background: #EFCEEB;
  border-radius: 5px;
  position: absolute;
  justify-content: space-between;
  font-family: Arial, serif;
  z-index: 4;
}

.right-block {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}

.button {
  width: 100px;
  background: #FFFFFF;
  margin: 10px;
  color: black;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  line-height: 35px;
  cursor: pointer;
}

.button:hover{
  background: #87CEFAFF;
}

.user-block {
  width: 200px;
  margin-left: 110px;
}

.userName {
  min-width: 100px;
  background: #FFFFFF;
  margin: 10px;
  padding: 0 10px 0 10px;
  color: black;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  line-height: 35px;
}

.alUser {
  position: absolute;
  width: 110px;
  height: 100px;
  top: 10px;
  left: 15px;
}

.triangle {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  left: 110px;
}
