<div class="wrapper">
  <img class="closeIcon" src="{{ closeIcon }}" alt="" (click)="closeModal()">
  <img class="elfIcon" src="{{ elfIcon }}" *ngIf="prizeModal$.value.modalInfo?.photoType === 'elf'" alt="">
  <img class="photoIcon" src="{{ img23Icon }}" *ngIf="prizeModal$.value.modalInfo?.photoType === 'img23'" alt="">
  <img class="photoIcon" src="{{ img24Icon }}" *ngIf="prizeModal$.value.modalInfo?.photoType === 'img24'" alt="">
  <img class="photoIcon" src="{{ img25Icon }}" *ngIf="prizeModal$.value.modalInfo?.photoType === 'img25'" alt="">
  <img class="photoIcon" src="{{ img27Icon }}" *ngIf="prizeModal$.value.modalInfo?.photoType === 'img27'" alt="">
  <img class="photoIcon" src="{{ img28Icon }}" *ngIf="prizeModal$.value.modalInfo?.photoType === 'img28'" alt="">
  <img class="photoIcon" src="{{ img30Icon }}" *ngIf="prizeModal$.value.modalInfo?.photoType === 'img30'" alt="">
  <div class="modal-content">
    <div class="title-text">{{ prizeModal$.value.modalInfo?.title }}</div>
    <div class="bottom-text">
      <span>{{ prizeModal$.value.modalInfo?.text }} </span>
      <span class="link-text" (click)="openLink()">ссылке</span>
    </div>
  </div>
</div>
