<app-layout></app-layout>
<div class="root" [class.ban-root]="(modal$ | async)">
  <div class="wrapper" *ngIf="!(isLogInSuccess$ | async)">
    <form class="form" #form="ngForm" (ngSubmit)="logIn(form)" [class.ban-form]="(modal$ | async)">
      <div class="field">
        <label>Login:</label>
        <input type="text" name="login" ngModel maxlength="35" minlength="3" required>
      </div>
      <div class="field">
        <label>Password:</label>
        <input type="password" name="password" ngModel maxlength="25" minlength="3" required>
      </div>
      <button class="button">Авторизация</button>
    </form>
  </div>
  <div class="modal" *ngIf="(modal$ | async)">
    <app-modal
      [contentText]="(contentTextEvent$ | async)"
      [buttonText]="(buttonTextEvent$ | async)"
    ></app-modal>
  </div>
</div>
